@page "/"

@inject IHttpSecurityService HttpSecurityService
@inject IHttpContextAccessor HttpContextAccessor;

<PageTitle>Index</PageTitle>

<h1>Http Security Headers</h1>

@if (CSPHeaderValues.Any())
{
    var isFirst = true;

    <h4 style="padding-top: 24px !important;">@CSPKey</h4>

    <code>
        @foreach (var value in CSPHeaderValues)
        {
            if (!isFirst)
            {
                <br />
            }
            
            var displayLine = value + ";";

            @displayLine

            isFirst = false;
        }
    </code>
}

@foreach (var header in GeneralHeaders)
{
    <h4 style="padding-top: 24px !important;">@header.Key</h4>

    <code>@header.Value</code>
}

@code {
    const string CSPKey = "Content-Security-Policy";
    List<KeyValuePair<string, string>> GeneralHeaders { get; set; } = new();
    List<string> CSPHeaderValues { get; set; } = new();

    protected override void OnInitialized()
    {
        base.OnInitialized();

        var sh = HttpSecurityService.GetSecurityHeaders(HttpContextAccessor.HttpContext!);

        var csp = sh.Where(x => x.Key == CSPKey).FirstOrDefault();

        CSPHeaderValues = csp.Value.Split(";").Where(x => !string.IsNullOrWhiteSpace(x)).ToList();

        GeneralHeaders = sh.Where(x => x.Key != CSPKey).OrderBy(x => x.Key).ToList();
    }
}