@page "/"

@inject IHttpSecurityService HttpSecurityService

<PageTitle>Index</PageTitle>

<h1>Current Security Policies</h1>

@foreach (var header in HttpSecurityService.GetSecurityHeaders().OrderBy(x => x.Key))
{
    <h6>@header.Key</h6>

    <code>@header.Value</code>
}